* {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}



.LoginPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.loginPageImage {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50vh;
}

.loginPageImage img {
  height: 100%;
  width: 80%;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;

}

.loginContainer input {
  height: 40px;
  width: 50%;
  border-radius: 20px;
  border-color: #edede9;
  font-size: medium;
}

.noAccount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.header_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.header_left p {
  font-size: 20px;
}

.logo {
  height: 90px;
  width: 110px;
}


.header_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.workspace_homepage {
  display: flex;
  justify-content: flex-start;
}

.workspace_homepage p {
  width: fit-content;
}

.workspace_container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.workspace_tag {
  width: max-content;
  height: 80px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  border-width: 0px;
  background-color: #023047;
  color: white;
  transition: background-color 0.3s, color 0.3s, ;
}

.workspace_tag p {
  margin: 20px;
  font-size: 18px;
}

.workspace_tag:hover {
  background-color: white;
  color: #023047;
  border: 2px solid #023047;
}

.container {
  border: 2px solid #023047;
  padding: 15px;
  border-radius: 8px;
  position: relative;
}

.checked-item {
  text-decoration: line-through;
}

.task_tag {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}

.addWorkspace {
  background-color: white;
  color: black;
  width: max-content;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  border: 2px solid #023047;
  position: absolute;
  bottom: 10px;
  left: 180px
}

.input {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.workspace_main {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 20px;
}

.side_bar {
  height: 75vh;
  border: 1px solid #8d99ae;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.main_workspace {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.workspace_list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  border: 1px solid #8d99ae;
  padding: 10px
}

.list_of_workspace {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 30vh;
  overflow-y: scroll;
}

.workspace_btn {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: white;
  border: 1px solid #023047;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
}

.workspace_btn:hover {
  background-color: #d5e7f2;
  border-width: 0px;
}

.workspace_btn_cur {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #023047;
  color: white;
  border-width: 0px;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
}

.member_list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  border: 1px solid #8d99ae;
  padding: 10px;
  height: 50%;
  position: relative;
}

.list_of_member {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 100%;
  overflow-y: scroll;
}

.input_member {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}